<div class="fs-1 text-center"><h1><%= @list.name %><h1></div>
<div class="fs-4">
  
</div>
<br>
<div class="row">
    <% @list.bookmarks.each do |b| %>
      <div class="col-4">
        <div class="card">
          <div class="card-image"></div>
          <div class="card-content">
          <%= image_tag b.movie.poster_url, size:"100x400", :class => "card-img-top" %>
            <div class="flat-card-title">
              <h4>Movie Title: <%= b.movie.title %></h4>
              <h5><%= b.movie.overview %></h5>
              <p>Comment: <%= b.comment %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<button type="button" class="btn btn-warning"><%= link_to "Back", lists_path %></button>
<button type="button" class="btn btn-warning"><%= link_to "Add Bookmark", new_list_bookmark_path(@list) %></button>